<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles del Funko</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container mt-5">
    <div class="card">
        <div class="card-header bg-primary text-white">
            <h2 class="mb-0">Detalles del Funko</h2>
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-3">ID:</dt>
                <dd class="col-sm-9" th:text="${funko.id}"></dd>
                <dt class="col-sm-3">Nombre:</dt>
                <dd class="col-sm-9" th:text="${funko.nombre}"></dd>
                <dt class="col-sm-3">Precio:</dt>
                <dd class="col-sm-9" th:text="${funko.precio}"></dd>
                <dt class="col-sm-3">Cantidad:</dt>
                <dd class="col-sm-9" th:text="${funko.cantidad}"></dd>
                <dt class="col-sm-3">Imagen:</dt>
                <dd class="col-sm-9"><img alt="Funko Image" class="img-fluid" th:src="${funko.imagen}"></dd>
                <dt class="col-sm-3">Categoría:</dt>
                <dd class="col-sm-9" th:text="${funko.categoria.nombre}"></dd>
            </dl>
            <div class="text-center">
                <a href="/funkos" class="btn btn-primary">Volver</a>
            </div>
        </div>
    </div>
</div>

<script>
    function cambiarDireccion() {
        window.location.href = "/funkos";
    }
</script>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.8/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>