#cabecera{
    background-color:rgb(12, 12, 112);
    color: white;
    padding: 0;
}

#resultado{
    margin-top: -16px;
}

h2{
    margin-top: 5px;
    margin-left: 65px;
}

h4{
    color: gray;
    margin-top: -18px;
    margin-left: 65px;
}

#total{
    width: 50%;
}


table{
    border:1px solid grey;
    width: 100%;
    border-collapse: collapse;
}

#casillas{
    border: 0;
}

#goles, #fin{
    border: 0;
}

#goles{
    width: 80%;
}

#fin {
    width: 30%;
    text-align: center;
}

p img{
    width: 25px;
    height: 25px;
    position: relative;
    vertical-align: bottom;
}

td p{
    margin-left: 20px;
}

td div{
    border-left: 1px solid rgb(163, 162, 162);
    margin-left: 50px;
}

#equipos{
    width: 65%;
}

#goles{
    width: 35%;
    text-align: left;
}

td{
    border: 1px solid grey;
    width: 50%;
}

img{
    width: 50px;
    height: 50px;
    position: absolute;
}

li{
    display: inline;
    margin: 4%;
}

a{
    color: white;
    text-decoration: none;
}

ol{
    padding-bottom: 15px;
}

span{
    color: gray;
}


caption{
    text-align: left;
    padding-top: 15px;
    color: gray;
    margin-left: 25px;
    margin-right: 25px;
}

